body {
  margin: 0;
}

h1 {
  font-weight: normal;
}

.news-header {
  text-align: center;
}

.logo {
  margin: 70px 0 40px;
  display: block;
}

.header-nav ul li {
  display: inline;
}

.header-nav ul li a {
  text-decoration: none;
  color: black;
  font-family: FreeMono, monospace;
  letter-spacing: 3px;
  margin: 23px;
}

.section-banner {
  background-image: url("img/underwater-hotel.jpg");
  height: 464px;
  text-align: center;
  font-family: "Arial";
}

.section-banner h1 {
  color: white;
  font-size: 67px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 150px 0 50px;

}

.section-banner p {
  color: white;
  font-size: 15px;
  font-weight: 80;
  line-height: 170%;
}

.section-h2 {
  text-align: center;
}

.section-articles .articles-wrapper article {
  display: inline-block;
  width: 31%;
  margin: 1%;
}

.section-articles .articles-wrapper article img {
  width: 100%;
}

.articles-wrapper {
  width: 1170px;
  margin: 0 auto 0 auto;
}

.article-h2 a {
  text-decoration: none;
  color: black;
}

article:hover a {
  color: #ff7931;
}

.section-info {
  text-align: center;
}

.wrapper-info {
  width: 350px;
  margin: 0 auto 0 auto;
}

.article-p {
  margin: 0px 0 60px;
}

.h2-article {
  margin-bottom: 5px;
}

.button {
  background-color: #ff7931;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 11px 20px;
  letter-spacing: 2px;
  font-family: FreeMono, monospace;
}

.news-footer {
  background-color: #575757;
  text-align: center;
  padding: 0px 0 50px;
}

.white-logo {
  margin: 70px 0 40px;
  padding-top: 30px;
  display: block;
}


.footer-nav ul li {
  display: inline;
  letter-spacing: 2px;
}

.footer-nav ul li a {
  text-decoration: none;
  color: white;
  margin: 23px;
}

.social-list {
  margin-top: 60px;
}

.social-list li {
  text-align: center;
  display: inline;
}

.social-list li img {
background-color: white;
margin: 5px;
}

.inst {
  padding: 12px;
}

.fb {
  padding: 13px 17px;
}

.tw {
  padding: 15px 13px;
}
